
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <table class="content-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Tipo de paciente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes" >
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.grupo}}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>


  
